body {
    header {
        height: 100px;
        border-bottom: 2px solid #CCCCCC;
        position: fixed;
        width: 100%;
        z-index: 5;
        display: flex;
        align-items: center;
        background-color: #161618;

        .mobile-content {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 25px;

            .nav-desktop {
                display: none;
            }
        }

        .menu-links {
            position: fixed;
            width: 300px;
            top: 0;
            right: -300px;
            height: 100%;
            background-color: #CACAD2;
            transition: right .2s ease-out;

            >a {
                margin: 15px;
                width: 48px;
                height: 48px;
                float: right;
            }

            ul {
                margin: 150px 0;
                text-align: center;
                padding: 0;
                font-size: 18px;

                li+li {
                    margin-top: 40px;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    body {
        header {
            .search {
                position: relative;

                img {
                    position: absolute;
                    top: 10px;
                    left: 15px;
                }

                input {
                    width: 500px;
                    height: 40px;
                    background-color: #FFFFFF30;
                    color: #FFF;
                    padding-left: 50px;
                    outline: 0;
                    border: none;
                    border-radius: 20px;

                    &::placeholder {
                        color: #FFF;
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    body {
        header {
            .mobile-content {
                justify-content: center;

                .nav-desktop {
                    display: block;

                    ul {
                        color: #FFF;
                        display: flex;
                        justify-content: space-between;
                        margin: 0;
                        padding: 0;

                        li {
                            min-width: 100px;
                            margin-left: 50px;
                        }
                    }
                }
            }
        }
    }
}